* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.body-form {
  background-color: #121214;
  color: #81D8F7;
  
  h2 {
    text-align: center;
  }

  hr {
    margin-bottom: 2rem;
  }

  input,select {
    background-color: #202024 !important;
    border-color: transparent !important;
    color:#7C7C8A !important;
  }

  button{
    width: 100%;
  }
  
  .remenber {
    align-self: center !important;
  }
}

